#hoppy_modal_finished {
	background: #FF2D55;
	text-align: center;
	width: 600px;
	padding: 5px 0;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	font-weight: 600;
}

#hoppy_modal {
	width:400px;
	background: #FFF;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#hoppy_modal .header {
	background: #DDD;
	border-bottom: 1px solid #CCCCCC;
	padding: 18px 18px 14px;
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 20px;
}

#hoppy_modal form {
	padding: 10px 0;
}

#hoppy_modal .hoppy_group {
	margin: 10px 20px;
    width: 360px;
    height: 28px;
    border: 0;
}
#hoppy_modal .hoppy_group.higher {
    height: 100px;
}

#hoppy_modal .hoppy_group input {
	width: 220px;
	height: 16px;
	padding: 5px;
	border: 1px solid #CCC;
}

#hoppy_modal .hoppy_group textarea {
    width: 220px;
    height: 80px;
}

#hoppy_modal .hoppy_group label {
	float: left;
	width: 120px;
	line-height: 28px;
	font-size: 13px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;
}


.xdsoft_datetimepicker{
    z-index: 101;
}

#hoppy_modal .hoppy_event_from{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
}
#hoppy_modal h3{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#hoppy_modal .header {
    background: rgb(221, 221, 221);
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 18px 18px 14px;
}

#hoppy_modal .btn {
    margin-bottom: 25px;
    padding: 0 0 0 100px;
    border: 0;
    height: 215px;
    height: 28px;
}

#hoppy_modal .btn a {
    float: left;
    padding: 0px 20px;
    line-height: 28px;
    background: rgb(4, 156, 219);
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px;
    color: rgb(255, 255, 255);
    margin: 0px 10px 0px 0px;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    opacity: 1.0;
}

#hoppy_modal .btn a.cancel {
    background: #DDDDDD;
    box-shadow: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
